*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.dex
*.class
*.jar
*.aar
*.so
*.dylib
*.dll
*.exe
*.png
!app/src/main/res/**/*.png
!app/src/main/res/**/*.xml
*.jpg
*.jpeg
*.gif
*.webp
*.bmp
